azure-core
bcrypt
cachelib
certifi
charset-normalizer
click
colorama
Flask
Flask-Bcrypt
flask-session
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pyodbc
requests
stripe
typing-extensions
urllib3
Werkzeug
zipp
azure-storage-blob